beautifulsoup4==4.6.0
certifi==2022.12.7
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.9
django-modelcluster==5.0
django-taggit==1.2.0
django-toolbelt==0.0.1
django-treebeard==4.3
djangorestframework==3.9.4
draftjs-exporter==2.1.5
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
Pillow==6.2.0
psycopg2==2.8.2
pytz==2019.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
static3==0.7.0
Unidecode==1.0.23
urllib3==1.25.2
wagtail==2.7
webencodings==0.5.1
whitenoise==4.1.2
Willow==1.3
